:host{
    .container{
        input{
            width: 100%;
            font-size: 2rem;
            border-radius: 1rem;
            padding: 1rem 2rem;
            border: 1px solid gray;
        }
    }
}